<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.h4rk8s.homebrew-latest-refresh</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>HTTP_PROXY</key>
		<string>http://127.0.0.1:6152</string>
		<key>HTTPS_PROXY</key>
		<string>http://127.0.0.1:6152</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/Library/Taps/h4rk8s/homebrew-latest/bin/refresh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/jawa/Library/Logs/homebrew-latest-refresh.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/jawa/Library/Logs/homebrew-latest-refresh.log</string>
	<key>StartInterval</key>
	<integer>21600</integer>
</dict>
</plist>
